.page-header {
  background: #e5e5e5 url("../img/header-bg.jpg");
}

.logo {
  position: relative;
  float: left;
  width: 31.93277%; // 380px/1190px
  padding: 35px 0;

  @media (max-width: 750px) {
    float: none;
    width: auto;
  }

  &__link {
    font-family: $font-family-roboto-condensed;
    font-weight: $font-weight-bold;
    font-size: 40px;
    line-height: 65px;
    color: #4e4e4e;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__menu-btn {
    position: absolute;
    top: 41px;
    right: 30px;
    display: none;
    @include size(50px);
    background: url("../img/spritesheet-v4.png") no-repeat;
    background-position: -4px -298px;
    cursor: pointer;

    @media (max-width: 750px) {
      display: block;
    }
  }
}

.main-nav {
  float: right;
  width: 65%;
  padding: 49px 0;

  @media (max-width: 750px) {/////////////////work jquery
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;

    float: none;
    display: block;
    width: 100%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    z-index: -100;

    background: #e5e5e5 url("../img/header-bg.jpg");
    transition: top .4s ease;
  }

  // JS STYLE mobile-menu.js
  &--show-menu {
    @media (max-width: 750px) {/////////////////work jquery
      // position: absolute;
      top: 135px;
      z-index: 100;
    }
  }

  &__list {
    @include list-reset;
    font-size: 0;
    text-align: right;

    @media (max-width: 750px) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__item {
    display: inline-block;
    margin-left: 21px;
    vertical-align: top;

    @media (max-width: 750px) {
      margin-left: 17px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    display: block;
    font-family: $font-family-roboto-condensed;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4e4e4e;
    transition: color .2s ease-out;

    &:hover {
      color: #1abb9c
    }

    &--active {
      color: #1abb9c;
    }
  }
}
